
@font-face {
    font-family: 'Gotham-Medium';
	src:url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham-Medium.ttf') format('truetype'),
         url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gotham-Book';
	src:url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Book.svg#Gotham-Medium') format('svg');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gotham-Bold';
	src:url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamBold.woff') format('woff'),
		 url('../fonts/GothamBold.woff2') format('woff'),
         url('../fonts/GothamBold.ttf') format('truetype'),
         url('../fonts/GothamBold.svg#Gotham-Medium') format('svg');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: '[Helvetica75]';
	src:url('../fonts/helveticaneueltstd-bd.eot');
    src: url('../fonts/helveticaneueltstd-bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-bd.woff') format('woff'),
         url('../fonts/helveticaneueltstd-bd.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-bd.svg#Gotham-Medium') format('svg');

    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
}
#header{
	height: 360px;
	width:100%;
	position: relative;
	z-index: -9;
}
#header .top-header{
	position: absolute;
	background:rgba(255,255,255, 0.4);
	width: 100%;
}
#header .top-header h1{
	font-size: 40px;
	margin: 12px 0;
	text-transform: lowercase;
}
#header .top-header h1 span{
	color: #00fbd0;
}
#header .venue-name{
	position: absolute;
	font-size: 50px;
	bottom: 10px;
	z-index: 2;
	color: #fff;
	text-transform:uppercase;
	letter-spacing: 4px;
}
#header img.header-venue{
	width: 100%;
}
.profile-section{
	float: right;
}
.profile-section .profile{
	float: right;
	right: 0px;
	margin-top: -60px;
}	
.profile-section .profile img{
	border-radius: 200px;
	border: solid 5px #fff;
}
.profile-name{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.profile-name span{
	display: block;
	color: #01fad2;
	padding-top: 3px;
}
.container{
	width:820px;
	margin:0 auto;
}
.content{
	font-family:gotham-book;
	}
.content p{
	font-family: 'Gotham-Book';
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 30px;
}
.content span{
	display:block;
}
.container .option{
	text-align:center;
	font-family: 'Gotham-Book';
	}

.container #option_title{
	 line-height:39px;
	 font-size:25px;
	 margin-top:20px;
	 margin-bottom:10px;
	  
	 letter-spacing:2px;
	}
.label{
	font-size:14px;
	text-transform:uppercase;
	word-spacing:5px;
	line-height:25px;
	margin-left:10px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	}
	
label:before {
	content: "";
	display: inline-block;

	width: 18px;
	height: 18px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #f5f5f5;
	
}
.container .option .sign-up{
	width:50%;
	float:left;
	}
.container .option .sign-in{
	width:50%;
	float:right;
	}
input[type=radio]{
	height:20px;
	width:20px;
	display:inline-block;
	}
input{
	font-family: 'Gotham-Book';
	line-height: 25px;
	padding:7px 0 7px 20px;
	width:264px;
	display:block;
	border: 1px solid #f5f5f5;
	background-color:#f5f5f5;
	margin-bottom:26px;
	font-size:14px;
	
}	
input[type=submit]{
	width:288px;
	background:#000000;
	color:#FFFFFF;
    margin-bottom: 10px;
	}
strong{
	color:#00fbd0;
	font-weight:normal;
}
.textCenter{
	font-family: 'Gotham-Book';
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align:center;
	margin-bottom: 17px;
	font-weight:normal;
	line-height:25px;
	font-size:18px;
}
.spaceTop{
	margin-top: 23px;
}
.spacebottom{
	margin-bottom:30px;
}
input::-webkit-input-placeholder {
	font-family: 'Gotham-Book';
	color:#11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}
input:-moz-placeholder { /* Firefox 18- */font-family: 'Gotham-Book';
   color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

input::-moz-placeholder {  /* Firefox 19+ */
font-family: 'Gotham-Book';
	color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

input:-ms-input-placeholder {  
font-family: 'Gotham-Book';
	color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

.account{
	font-family: 'Gotham-Book';
	margin-left:65px;
	width:340px;
	float:left;
	margin-top: 20px;
}
.account .accountForm{
	padding-left:25px;
	}
#articalSection{
	font-family: 'Gotham-Book';
	margin-left:20px;
	float:left;
	width:380px;
	font-weight:normal;
	margin-top:80px;
}
#articalSection figure img{
	width:100%;
	}
#articalSection figcaption{
	text-align:center;
	font-size:18px;
	font-family: 'Gotham-Book';
	line-height:25px;
	text-transform:uppercase;
	margin-bottom:30px;
	}
#articalSection .pakagedetail{
	padding: 10px;
	}
#articalSection .pakagedetail .title{
	text-transform:uppercase;
	}
#articalSection .pakagedetail .value{
	display:inline-block;
	float:right;
	}
#articalSection .sum .value{
	display:inline-block;
	float:right;
	}
.inputSeitinghalfLeft{
	display: inline-block;
	width: 156px;
	margin-right:5px;
}
.month{
	display: inline-block;
	width: 154px;
	margin-left:5px;
	margin-right:10px;
}
.year{
	 width:70px;
	 display:inline-block;
	 margin-left:9px;
	}
.cvv{
	 width:70px;
	 display:inline-block;
	}
	
.green{
	color:#11dbb8
	}
.cvv-text{
	display: inline-block;
	width: 154px;
	margin-right:50px;
	float:right
	}
.black{
	color:#000000;
	}
s

.artical{
	text-transform:uppercase;
	font-family: 'Gotham-Book';
	font-size: 12px;
	line-height: 25px;
	color:#a4a3a4;
	margin-bottom:30px;
	margin-top: 0px;
	letter-spacing: 2px;
}

#articalSection figure{
	margin:0;
	}
.lowerSection{

}
#city {
	width:215px; 
	display:inline-block;
	margin-right:5px;
}
#state {
	display:inline-block; 
	width:95px; 
	margin-left:5px
}
.venue-name{
	font-family: 'Gotham-Medium';
	background:#000;
	height:54px;
	color:#fff;
	font-size:22px;
	text-align:center;
	line-height:54px;
	border-top:solid 1px #181818;
	border-bottom:solid 1px #181818;
	text-transform:uppercase;
	letter-spacing:5px;
}
.venue-name .venue{
	color:#11dbb8;
}
.logo{
	position:absolute;
	bottom:15px;
	left:28px;
}
.top-container{
	width:960px;
	margin:0 auto;
}
.profile-area{
}

.user-profile{
	width:120px;
	height:120px;
	float:left;
	border-radius:50px;
	margin-right:16px;
}
.profile-area .content
{
	color:#a4a2a3;
	margin-top: 120px;
	
	}

.profile-area .content p{
	font-family: 'Gotham-Book';
	letter-spacing: 2px;
text-transform: uppercase;
line-height: 20px;
font-size: 14px;
margin-bottom: 30px;
padding: 16px 20px 21px 25px;
	}

.highlight{
	font-family: 'Gotham-Book';
  color: #A3A3A3;
  background-color: #F5F5F5;
  text-align: center;
  width: 960px;
  margin: 0px auto;
  padding: 15px 0 15px 0;
   
}
.highlight #expired{
	font-family:'Gotham-Book';
	letter-spacing: 2px;
	line-height: 26px;
	font-size:16px;
	color:#000000;
	margin: 0px auto;
	width: 820px;
	text-transform:uppercase;
	}
.highlight #time{
	font-family:'Gotham-Book';
	color:#11dbb8;
	letter-spacing:1px;
	font-size:30px;
	line-height:30px;
	margin:0px;
	}
	
#braintree_payment button{
	font-family: 'Gotham-Medium';
	font-size:14px;
	line-height:25px;
	width:370px; 
	 height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  text-align:center;
  margin-bottom:34px;
	}
	
	
footer{
	background:#000000;
	width:100%;
	float:left;
	padding:30px 0; 
	}	
footer #social ul{
	
	display:block;
	text-align:center;
	padding:0;
	margin:0
	}
	footer #social ul li{
	display:inline-block;
	margin-right:45px;
	}
	footer #social ul li.last, footer #social ul li:last-child{
		margin-right:0px;
	}
	
input[type=radio]:checked + label:before {
    content: "\2022";
    color:#11dbb8;
    font-size: 30px;
    text-align: center;
    line-height: 16px;
}


input[type=radio],
input[type=checkbox] {
	display: none;
}


 label:before {
	border-radius: 140px;
}
.fb-login{
	background:#3b5998;
	}

.bold{
	  font-family: 'Gotham-Bold';
	
	}
.zip{
	width: 154px;
	margin-left:5px;
	margin-right:10px;
	}

 .sum{
	 background:#f5f5f5;
	 padding: 10px;
	 text-transform:uppercase;
	 color:#a4a3a4;
	 } 
	 