/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.container {
		width: 95%;
		margin: 0 auto;
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 30px;
		font-size: 20px;
	}
	
	.reservationHeading{
			margin-top:10px;
			text-align: left;
			font-size: 25px;		
	}
	
	.col1 {
		text-align: left;
		margin-right: 50px;
		display: inline-block;
		width: 190px;
	}

	.col2 {
		text-align: center;
		display: inline-block;
		width: 300px;
		margin-right: 50px;
	}
	.reservationText {
		text-transform: uppercase;
		line-height: 20px;
		font-size: 10px;
		letter-spacing: 3px;
	}
	.lowerSection {
		margin-top: 35px;
	}

}

@media only screen and (min-width : 321px) and (max-width : 480px) {
	
body{
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
}

#header .top-header{
	position: absolute;
	background:rgba(255,255,255, 0.4);
	width: 100%;
}
#header .top-header h1{
	font-size: 40px;
	margin: 12px 0;
	text-transform: lowercase;
}
#header .top-header h1 span{
	color: #00fbd0;
}
#header .venue-name{
	position: absolute;
	font-size: 50px;
	bottom: 10px;
	z-index: 2;
	color: #fff;
	text-transform:uppercase;
	letter-spacing: 4px;
}
#header img.header-venue{
	width: 100%;
}
.profile-section{
	float: right;
}
.profile-section .profile{
	float: right;
	right: 0px;
	margin-top: -60px;
}	
.profile-section .profile img{
	border-radius: 200px;
	border: solid 5px #fff;
}
.profile-name{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.profile-name span{
	display: block;
	color: #01fad2;
	padding-top: 3px;
}
.container{
	width: auto;
	margin:0 auto;
}

.content p{
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 30px;
}
.content span{
	display:block;
}

.col1{
	padding:10px;
	font-size:30px;
	text-align:center;
	margin:auto;
	display:block;
	color:#11dbb8;
	width:auto; 
}

.col2{
	padding:10px;
	text-align:center;
	display:block;
	width:auto;
	margin:auto;
	
}
.col3{
	
	padding:10px;
	text-align:right;
	display:block;
	width:auto;
	margin:auto;
}

input{
	
	width:95%;;
	display:block;

	
}	
strong{
	color:#00fbd0;
	font-weight:normal;
}
.reservation{
	padding:0px;
	
}
.textCenter{
	font-family: 'Gotham-Book';
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align:center;
	margin-bottom: 12px;
	font-weight:normal;
	line-height:25px;
	font-size:18px;
}
.spaceTop{
	
}
input::-webkit-input-placeholder {
	font-family: 'Gotham-Book';
	color:#11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}
input:-moz-placeholder { /* Firefox 18- */font-family: 'Gotham-Book';
   color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

input::-moz-placeholder {  /* Firefox 19+ */
font-family: 'Gotham-Book';
	color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

input:-ms-input-placeholder {  
font-family: 'Gotham-Book';
	color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2p
}

.billSection{
	width:auto;
	text-align:center;
	float:none;
	margin:0;
	padding:10px;
}

#articalSection{
	display:block;
	padding:10px;
	margin:auto;
	float:none;
	width:auto;
	
}
.inputSeitinghalfLeft{
	display:block;
	width: 95%;
}
.inputSeitinghalfright{
	display:block;
	width:95%;
	margin-left:0;
}

.green{
	text-align: center;
	font-size: xx-large;
	margin-top:21px;
	margin-bottom: 0px;
	letter-spacing:3px;
}
.reservationHeading{
	letter-spacing:2px;
}
.reservationText{
	font-family: 'Gotham-Book';
	text-transform:uppercase;
	line-height:20px;
	font-size:14px;
	letter-spacing:2px;
	padding:10px;
}
.reservationTextCenter{
	font-family: 'Gotham-Book';
	text-transform:uppercase;
	margin-top:0px;
	text-align:center; 
	font-size: 14px;
	color:#000000;
	font-weight:bold;
	letter-spacing:2px;
	line-height:25px;
}
.artical{
	text-transform:uppercase;
	font-family: 'Gotham-Book';
	font-size: 12px;
	line-height: 25px;
	color:#a4a3a4;
	margin-bottom:30px;
	margin-top: 0px;
	letter-spacing: 2px;
}
.lowerSection{
margin:0;
}
#city {
	width:95%;
	display:block;
}
#state {
	display:block; 
	width:95%;
	margin-left:0;
}
.venue-name{
	height:auto !important;
	font-size:22px;
	text-align:center;
	line-height:30px;
	
	text-transform:uppercase;
	letter-spacing:0px !important;
	padding:10px;
}
.venue-name .venue{
	color:#11dbb8;
}
.logo{
	position:absolute;
	bottom:15px;
	width:100%;
	text-align:center;
	left:0 !important;
	
}
.top-container{
	width:100%;
}
.profile-area{
}

.user-profile{
	text-align:center;
	width: auto;
	height:auto !important;
	float:none;
	margin:0 auto;
	padding:20px 10px;
}
.profile-area .content
{
	color:#a4a2a3;
	margin:0 auto;
	padding:10px;
	}

.profile-area .content p{
	display:block;
	margin:0 auto;
	padding: 20px 10px;
	}

.highlight{
  width:auto;
  margin: 0px auto;  
  padding:10px;
}
.highlight #expired{
	width:auto;
	}

	
#braintree_payment button{
	font-family: 'Gotham-Medium';
	font-size:14px;
	line-height:25px;
	height: 40px;
 	margin-bottom:20px;
	width:100%;
	}
footer .social ul li:last-child{
	margin:0;
	}
}
@media only screen and (max-width : 320px) {
body{
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
}

#header .top-header{
	position: absolute;
	background:rgba(255,255,255, 0.4);
	width: 100%;
}
#header .top-header h1{
	font-size: 40px;
	margin: 12px 0;
	text-transform: lowercase;
}
#header .top-header h1 span{
	color: #00fbd0;
}
#header .venue-name{
	position: absolute;
	font-size: 50px;
	bottom: 10px;
	z-index: 2;
	color: #fff;
	text-transform:uppercase;
	letter-spacing: 4px;
}
#header img.header-venue{
	width: 100%;
}
.profile-section{
	float: right;
}
.profile-section .profile{
	float: right;
	right: 0px;
	margin-top: -60px;
}	
.profile-section .profile img{
	border-radius: 200px;
	border: solid 5px #fff;
}
.profile-name{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.profile-name span{
	display: block;
	color: #01fad2;
	padding-top: 3px;
}
.container{
	width: auto;
	margin:0 auto;
}

.content p{
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 30px;
}
.content span{
	display:block;
}

.col1{
	padding:10px;
	font-size:30px;
	text-align:center;
	margin:auto;
	display:block;
	color:#11dbb8;
	width:auto; 
}

.col2{
	padding:10px;
	text-align:center;
	display:block;
	width:auto;
	margin:auto;
	
}
.col3{
	
	padding:10px;
	text-align:right;
	display:block;
	width:auto;
	margin:auto;
}

input{
	
	width:92.6%;;
	display:block;

	
}	
strong{
	color:#00fbd0;
	font-weight:normal;
}
.reservation{
	padding:0px;
	
}
.textCenter{
	font-family: 'Gotham-Book';
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align:center;
	margin-bottom: 12px;
	font-weight:normal;
	line-height:25px;
	font-size:18px;
}
.spaceTop{
	
}
input::-webkit-input-placeholder {
	font-family: 'Gotham-Book';
	color:#11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}
input:-moz-placeholder { /* Firefox 18- */font-family: 'Gotham-Book';
   color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

input::-moz-placeholder {  /* Firefox 19+ */
font-family: 'Gotham-Book';
	color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

input:-ms-input-placeholder {  
font-family: 'Gotham-Book';
	color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2p
}

.billSection{
	width:auto;
	text-align:center;
	float:none;
	margin:0;
	padding:10px;
}

#articalSection{
	display:block;
	padding:10px;
	margin:auto;
	float:none;
	width:auto;
	
}
.inputSeitinghalfLeft{
	display:block;
	width: 92.7%;
}
.inputSeitinghalfright{
	display:block;
	width: 92.7%;
		margin-left:0;
}

.green{
	text-align: center;
	font-size: xx-large;
	margin-top:21px;
	margin-bottom: 0px;
	letter-spacing:3px;
}
.reservationHeading{
	letter-spacing:2px;
}
.reservationText{
	font-family: 'Gotham-Book';
	text-transform:uppercase;
	line-height:20px;
	font-size:14px;
	letter-spacing:2px;
	padding:10px;
}
.reservationTextCenter{
	font-family: 'Gotham-Book';
	text-transform:uppercase;
	margin-top:0px;
	text-align:center; 
	font-size: 14px;
	color:#000000;
	font-weight:bold;
	letter-spacing:2px;
	line-height:25px;
}
.artical{
	text-transform:uppercase;
	font-family: 'Gotham-Book';
	font-size: 12px;
	line-height: 25px;
	color:#a4a3a4;
	margin-bottom:30px;
	margin-top: 0px;
	letter-spacing: 2px;
}
.lowerSection{
margin:0;
}
#city {
	width:92.7%;
	display:block;
}
#state {
	display:block; 
	width:92.7%;
	margin-left:0;
}
.venue-name{
	height:auto !important;
	font-size:22px;
	text-align:center;
	line-height:30px;
	
	text-transform:uppercase;
	letter-spacing:0px !important;
	padding:10px;
}
.venue-name .venue{
	color:#11dbb8;
}
.logo{
	position:absolute;
	bottom:15px;
	width:100%;
	text-align:center;
	left:0 !important;
	
}
.top-container{
	width:100%;
}
.profile-area{
}

.user-profile{
	text-align:center;
	width: auto;
	height:auto !important;
	float:none;
	margin:0 auto;
	padding:20px 10px;
}
.profile-area .content
{
	color:#a4a2a3;
	margin:0 auto;
	padding:10px;
	}

.profile-area .content p{
	display:block;
	margin:0 auto;
	padding: 20px 10px;
	}

.highlight{
  width:auto;
  margin: 0px auto;  
  padding:10px;
}
.highlight #expired{
	width:auto;
	}

	
#braintree_payment button{
	font-family: 'Gotham-Medium';
	font-size:14px;
	line-height:25px;
	height: 40px;
 	margin-bottom:20px;
	width:100%;
	}
footer .social ul li:last-child{
	margin:0;
	}
}
