
@font-face {
    font-family: 'Gotham-Medium';
	src:url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham-Medium.ttf') format('truetype'),
         url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gotham-Book';
	src:url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Book.svg#Gotham-Medium') format('svg');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gotham-Bold';
	src:url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamBold.woff') format('woff'),
		 url('../fonts/GothamBold.woff2') format('woff'),
         url('../fonts/GothamBold.ttf') format('truetype'),
         url('../fonts/GothamBold.svg#Gotham-Medium') format('svg');

    font-weight: normal;
    font-style: normal;

}


body{
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
}
#header{
	height: 360px;
	width:100%;
	position: relative;
	z-index: -9;
}
#header .top-header{
	position: absolute;
	background:rgba(255,255,255, 0.4);
	width: 100%;
}
#header .top-header h1{
	font-size: 40px;
	margin: 12px 0;
	text-transform: lowercase;
}
#header .top-header h1 span{
	color: #00fbd0;
}
#header .venue-name{
	position: absolute;
	font-size: 50px;
	bottom: 10px;
	z-index: 2;
	color: #fff;
	text-transform:uppercase;
	letter-spacing: 4px;
}
#header img.header-venue{
	width: 100%;
}
.profile-section{
	float: right;
}
.profile-section .profile{
	float: right;
	right: 0px;
	margin-top: -60px;
}	
.profile-section .profile img{
	border-radius: 200px;
	border: solid 5px #fff;
}
.profile-name{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.profile-name span{
	display: block;
	color: #01fad2;
	padding-top: 3px;
}
.container{
	width:820px;
	margin:0 auto;
}
.content{
	font-family:gotham-book;
	}
.content p{
	font-family: 'Gotham-Book';
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 30px;
}
.content span{
	display:block;
}

.col1{
	font-size:30px;
	letter-spacing:1px;
	line-height:45px;
	font-family: 'Gotham-Book';
	text-align:left;
	margin-right:90px;
	display:inline-block;
	width:190px;
	color:#11dbb8;
}

.col2{
	color:#11dbb8;
	font-family: 'Gotham-Book';
	text-align:center;
	display:inline-block;
	width:300px;
	margin-right:95px;
}
.col3{
	color:#11dbb8;
	font-family: 'Gotham-Book';
	text-align:right;
	display:inline-block;
	width:120px;
}

input{
	font-family: 'Gotham-Book';
	line-height: 25px;
	padding:7px 0 7px 20px;
	width:350px;
	display:block;
	border: 1px solid #f5f5f5;
	background-color:#f5f5f5;
	margin-bottom:15px;
	font-size:14px;
	
}	
strong{
	color:#00fbd0;
	font-weight:normal;
}
.reservation{
	font-family: 'Gotham-Book';
	color:#a3a3a3;
	  padding-top: 9px;
	padding-bottom: 30px;
}
.textCenter{
	font-family: 'Gotham-Book';
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align:center;
	margin-bottom: 12px;
	font-weight:normal;
	line-height:25px;
	font-size:18px;
}
.spaceTop{
	margin-top: 30px;
}
input::-webkit-input-placeholder {
	font-family: 'Gotham-Book';
	color:#11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}
input:-moz-placeholder { /* Firefox 18- */font-family: 'Gotham-Book';
   color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

input::-moz-placeholder {  /* Firefox 19+ */
font-family: 'Gotham-Book';
	color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2px;
}

input:-ms-input-placeholder {  
font-family: 'Gotham-Book';
	color: #11dbb8;
	font-size: 14px;
	line-height:25px;
	letter-spacing: 2p
}

.billSection{
	font-family: 'Gotham-Book';
	margin-left:20px;
	width:370px;
	float:left;
}

#articalSection{
	font-family: 'Gotham-Book';
	margin-left:40px;
	float:left;
	width:380px;
	font-weight:normal;
}
.inputSeitinghalfLeft{
	display: inline-block;
	width: 156px;
	margin-right:5px;
}
.inputSeitinghalfright{
	display: inline-block;
	width: 154px;
	margin-left:5px;
}

.green{
	text-align: center;
	font-size: xx-large;
	margin-top:21px;
	margin-bottom: 0px;
	letter-spacing:3px;
}
.reservationHeading{
	letter-spacing:2px;
}
.reservationText{
	font-family: 'Gotham-Book';
	text-transform:uppercase;
	line-height:20px;
	font-size:14px;
	letter-spacing:2px;
	margin-bottom: 0;
	margin-top: 28px;
	padding-left:20px;
}
.reservationTextCenter{
	font-family: 'Gotham-Book';
	text-transform:uppercase;
	margin-top:0px;
	text-align:center; 
	font-size: 14px;
	color:#000000;
	font-weight:bold;
	letter-spacing:2px;
	line-height:25px;
}
.artical{
	text-transform:uppercase;
	font-family: 'Gotham-Book';
	font-size: 12px;
	line-height: 25px;
	color:#a4a3a4;
	margin-bottom:30px;
	margin-top: 0px;
	letter-spacing: 2px;
}
.lowerSection{

}
#city {
	width:215px; 
	display:inline-block;
	margin-right:5px;
}
#state {
	display:inline-block; 
	width:95px; 
	margin-left:5px
}
.venue-name{
	font-family: 'Gotham-Medium';
	background:#000;
	height:54px;
	color:#fff;
	font-size:22px;
	text-align:center;
	line-height:54px;
	border-top:solid 1px #181818;
	border-bottom:solid 1px #181818;
	text-transform:uppercase;
	letter-spacing:5px;
}
.venue-name .venue{
	color:#11dbb8;
}
.logo{
	position:absolute;
	bottom:15px;
	left:28px;
}
.top-container{
	width:960px;
	margin:0 auto;
}
.profile-area{
}

.user-profile{
	width:120px;
	height:120px;
	float:left;
	border-radius:50px;
	margin-right:16px;
}
.profile-area .content
{
	color:#a4a2a3;
	margin-top: 120px;
	
	}

.profile-area .content p{
	font-family: 'Gotham-Book';
	letter-spacing: 2px;
text-transform: uppercase;
line-height: 20px;
font-size: 14px;
margin-bottom: 30px;
padding: 16px 20px 21px 25px;
	}

.highlight{
	font-family: 'Gotham-Book';
  color: #A3A3A3;
  background-color: #F5F5F5;
  text-align: center;
  width: 960px;
  margin: 0px auto;
  padding: 15px 0 15px 0;
   
}
.highlight #expired{
	font-family:'Gotham-Book';
	letter-spacing: 2px;
	line-height: 26px;
	font-size:16px;
	color:#000000;
	margin: 0px auto;
	width: 820px;
	text-transform:uppercase;
	}
.highlight #time{
	font-family:'Gotham-Book';
	color:#11dbb8;
	letter-spacing:1px;
	font-size:30px;
	line-height:30px;
	margin:0px;
	}
	
#braintree_payment button{
	font-family: 'Gotham-Medium';
	font-size:14px;
	line-height:25px;
	width:370px; 
	 height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  text-align:center;
  margin-bottom:34px;
	}
	
	
footer{
	background:#000000;
	width:100%;
	float:left;
	padding:30px 0; 
	}	
footer #social ul{
	
	display:block;
	text-align:center;
	padding:0;
	margin:0
	}
	footer #social ul li{
	display:inline-block;
	margin-right:45px;
	}
	footer #social ul li.last, footer #social ul li:last-child{
		margin-right:0px;
	}